{% extends "common/base.html" %}
{% load index %}
{% block title %}
    <title>BoxOffice | Reserve Seats</title>
{% endblock %}

{% block content %}

	<h1>Show Details</h1>
	<h2>{{ show_info }}</h2>
	<div class="seatDiv">
		<div class="seatArray">
			<table><tr>
			{% for seat in seats_info %}
			{% if forloop.counter0|divisibleby:10 %}
			</tr>
			<tr>
			{% endif %}
				{% if seat.booked == 0 %}
			  		<td><div class="selectable"><a> {{ seats_name|index:forloop.counter0 }} </a></div></td>
				{% else %}
					<td><div class="seat"><a> {{ seats_name|index:forloop.counter0 }} </a></div></td>
				{% endif %}
			{% endfor %}
			</tr></table>
		</div>
		<div class="seatForm">
			<form method="post" action="{% url 'booking_validation' %}">
				{% csrf_token %}
				{{ form.as_p }}
				Seats: <input name="selected_seat" id="selected_seat" type="text" readonly />
				<span>Total number of seats: </span><span id="no_of_seats">0</span>
				<input type="hidden" name="show_id" id="show_id" value="{{ show_info.id }}" readonly />
				<button type="submit">Next</button>
			</form>
		</div>
	</div>

{% endblock %}