<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
{#    <link rel="stylesheet" href="{% static "css/style.css" %}">#}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    {# Load the tag library #}
    {% load bootstrap4 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    {% block title %}
    {% endblock %}
    <script src="{% static "js/common.js" %}"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Kim's Convenience Modern Cinema</a>
      <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Movies
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">All movies</a></li>
                <li><a href="#">Now showing</a></li>
                <li><a href="#">Upcoming</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Book Ticket <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active pl-lg-5">
              {% if request.user.is_authenticated %}
                  <li class="d-flex p-2">
                      <h5>WELCOME {{user.username}}</h5>
                  </li>
                  <a href="/user/logout">
                  <button type="button" class="btn btn-danger">Sign Out</button>
                  </a>
              {% else %}
                  <a href="/user/login">
                  <button type="button" class="btn btn-danger">Login/Signup</button>
                  </a>
              {% endif %}
          </li>
        </ul>
            <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
      </div>
      </div>
    </nav>

<div id="content" class="container-fluid">
    {% block content %}
    {% endblock %}
</div>
</body>